@page
@model EmployeeShiftManagement.Pages.Shifts.IndexModel

@{
    ViewData["Title"] = "Shifts";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="card bg-white p-4 ">
    <h1>List Of Shifts</h1>

    <p>
        <a asp-page="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Shift[0].StartingTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Shift[0].EndingTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Shift[0].IsMorningShift)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Shift[0].MinimumRequirement)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Shift[0].MaximumRequirement)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Shift)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartingTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndingTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsMorningShift)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MinimumRequirement)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaximumRequirement)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>